*      {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
  font-size: 62.5%;
}

body{
  font-family: "Space Grotesk", sans-serif;
}

/*@media (min-width:601px) and (max-width:1023px){
  body {
    font-size: 50%;
    /*overflow-x: hidden;

    .middle-container{
      min-width: 10vw;
      margin-right: 15rem;
    

    .middle-content-item {
      align-self: stretch;
      flex-shrink: 1rem;
      min-width: 5rem;
      height: 2048px;
      margin-right: 10rem;
      position: relative;
      overflow: hidden;
    }
    

    .middle-content-item img {
      opacity: 0.7;
      max-width: 100%;
      min-height: 20vh;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    }
  }
  
}  */



  

.neighborhood {
  background: #ffffff;
  height: 5680px;
  position: relative;
  overflow: hidden;
  
}

.navigation-header {
  background-color: #01073d;
  padding: 1rem;
  max-width: 100%;
  height:10vh;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  gap: 1rem;
  color:#ffffff;
}

.logo-item {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
}

.navigation-menu {
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link.login {
  color: #fff;
}

.nav-link.signup {
  color: #fff;
}
.nav-link:hover {
  background-color: #ccc;
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;

}

.hero {
  position: relative;
  width: 100%;
  background: #474444;
  text-align: center;
}

.hero img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.explore-popular-neighborhoods {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.footer {
  background: #2b305d;
  width: 130%;
  height: 10vh;
  position: relative;
  left: 0px;
  top: 81px;
  overflow: hidden;
}
.twemoji-copyright {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 122px;
  top: 29px;
  overflow: visible;
}
._2024-haven-hunt-allrights-reserved {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Light", sans-serif;
  font-size: 19.200000762939453px;
  line-height: 32px;
  font-weight: 300;
  position: absolute;
  left: 292px;
  top: 24px;
}
.cookies {
  color: #ffffff;
  text-align: left;
  font-family:  "SpaceGrotesk-Light", sans-serif;
  font-size: 19.200000762939453px;
  line-height: 32px;
  font-weight:  300;
  position: absolute;
  left: 1446px;
  top: 22px;
}
.terms-of-service {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Light", sans-serif;
  font-size:  19.200000762939453px;
  line-height: 32px;
  font-weight: 300;
  position: absolute;
  left: 1261px;
  top: 22px;
}
.privacy-policy {
  color: #ffffff;
  text-align: left;
  font-family:  "SpaceGrotesk-Light", sans-serif;
  font-size:  19.200000762939453px;
  line-height:  32px;
  font-weight:  300;
  position: absolute;
  left: 1100px;
  top: 22px;
}
.frame-174-default {
  background: #01073d;
  padding: 4px 120px 4px 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: 0px;
  top: 1px;
  overflow: hidden;
}
.frame-442 {
  display: flex;
  flex-direction: row;
  gap: 64px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-2 {
  flex-shrink: 0;
  width: 77.56px;
  height: 94.73px;
  position:j static;
}
.hh {
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 56.39290237426758px;
  line-height: 93.99px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-text-stroke: 0.36538460850715637px
    var(--secondarycolor2-1001, #ffffff);
}
.hh2 {
  color: var(--secondarycolor2-1001, #ffffff);
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 56.39290237426758px;
  line-height: 93.99px;
  font-weight: 700;
  position: absolute;
  left: 2.56px;
  top: 0.73px;
}
.frame-440 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-438 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 191px;
  position: relative;
}
.neighborhood-guide {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size:  16px;
  line-height:  24px;
  font-weight:  700;
  position: relative;
  flex: 1;
}
.frame-4382 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.neighborhood-guide2 {
  color:  #ffffff;
  text-align: center;
  font-family:  "SpaceGrotesk-Bold", sans-serif;
  font-size:  16px;
  line-height:  24px;
  font-weight: 700;
  position: relative;
}
.neighborhood-guide3 {
  color:  #fcfcfc;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size:  16px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.frame-439 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.sign-up {
  color:  #ffffff;
  text-align: center;
  font-family:  "SpaceGrotesk-Bold", sans-serif;
  font-size: 16px;
  line-height:  24px;
  font-weight: 700;
  position: relative;
}
.frame-4392 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 92px;
  position: relative;
}
.sign-up2 {
  color:  #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.middle-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  row-gap:0;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 25px;
  top: 780px;
  padding-left: 7rem;
}
.middle-content-item {
  align-self: stretch;
  flex-shrink: 0;
  height: 2048px;
  position: relative;
  overflow: hidden;
}

.middle-content-item img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.middle-content-1 {
  background: #474444;
  border-radius: 24px;
  width: 1200px;
  height: 272px;
  position: absolute;
  left: 120px;
  top: 55px;
  overflow: hidden;
}
.explore-lagos {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size:  47.779998779296875px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  left: 439px;
  top: 121px;
}
.middle-content-2 {
  background: #474444;
  border-radius: 24px;
  width: 690px;
  height: 272px;
  position: absolute;
  left: 120px;
  top: 370px;
  overflow: hidden;
}

.image-41 {
  opacity: 0.5;
  width: 106.52%;
  height: 123.22%;
  position: absolute;
  right: -3.77%;
  left: -2.75%;
  bottom: -15.01%;
  top: -8.21%;
  object-fit: cover;
}
.explore-rivers {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 47.779998779296875px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  right: 25.94%;
  left: 21.96%;
  width: 57.1%;
  bottom: 38.24%;
  top: 50%;
  height: 11.76%;
}
.middle-content-3 {
  background: #474444;
  border-radius: 24px;
  width: 690px;
  height: 272px;
  position: absolute;
  left: 120px;
  top: 714px;
  overflow: hidden;
}
.image-48 {
  opacity: 0.5;
  width: 100%;
  height: 120.59%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -2.94%;
  top: -17.65%;
  object-fit: cover;
}
.explore-oyo {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 47.779998779296875px;
  line-height:  32px;
  font-weight: 700;
  position: absolute;
  right: 30%;
  left: 30%;
  width: 43%;
  bottom: 50%;
  top: 38.24%;
  height: 11.76%;
}
.middle-content-4 {
  background: #474444;
  border-radius: 24px;
  width: 690px;
  height: 272px;
  position: absolute;
  left: 120px;
  top: 1058px;
  overflow: hidden;
}
.image-51 {
  opacity: 0.5;
  width: 134.2%;
  height: 159.19%;
  position: absolute;
  right: -18.84%;
  left: -15.36%;
  bottom: -52.94%;
  top: -6.25%;
  object-fit: cover;
}
.explore-asaba {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 47.779998779296875px;
  line-height:  32px;
  font-weight:700;
  position: absolute;
  right: 26.38%;
  left: 26.38%;
  width: 49.25%;
  bottom: 44.12%;
  top: 44.12%;
  height: 11.76%;
}
.middle-content-5 {
  background: #474444;
  border-radius: 24px;
  width: 1200px;
  height: 272px;
  position: absolute;
  left: 120px;
  top: 1382px;
  overflow: hidden;
}
.image-54 {
  opacity: 0.5;
  width: 104.83%;
  height: 118.75%;
  position: absolute;
  right: 0%;
  left: -4.83%;
  bottom: 0%;
  top: -18.75%;
  object-fit: cover;
}
.explore-ogun {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 47.779998779296875px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  right: 37.17%;
  left: 37.25%;
  width: 27.58%;
  bottom: 50%;
  top: 38.24%;
  height: 11.76%;
}
.middle-content-6 {
  background: #474444;
  border-radius: 24px;
  width: 1200px;
  height: 272px;
  position: absolute;
  left: 120px;
  top: 1706px;
  overflow: hidden;
}
.image-53 {
  opacity: 0.5;
  width: 100%;
  height: 140.07%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: -20.22%;
  top: -19.85%;
  object-fit: cover;
}
.explore-enugu {
  color: #ffffff;
  text-align: center;
  font-family:"SpaceGrotesk-Bold", sans-serif;
  font-size: 47.779998779296875px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  right: 36.25%;
  left: 36.25%;
  width: 29.5%;
  bottom: 44.12%;
  top: 44.12%;
  height: 11.76%;
}
.middle-content-7 {
  background: #474444;
  border-radius: 24px;
  width: 486px;
  height: 960px;
  position: absolute;
  left: 832px;
  top: 370px;
  overflow: hidden;
}
.image-46 {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.explore-abuja {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 47.779998779296875px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  right: 17.49%;
  left: 17.49%;
  width: 67.02%;
  bottom: 50.1%;
  top: 46.56%;
  height: 3.33%;
}
.frame-1012 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1009 {
  display: flex;
  flex-direction: column;
  gap: 80px;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1008 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 990px;
  position: relative;
}
.how-to-use-this-guide {
  color:  #01073d;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 47.779998779296875px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.our-neighborhood-guide-is-designed-to-help-you-explore-and-compare-different-areas-with-ease-here-s-how-to-make-the-most-of-it {
  color:  #2b305d;
  text-align: center;
  font-family:  "SpaceGrotesk-Medium", sans-serif;
  font-size:  27.649999618530273px;
  line-height: 32px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.frame-1007 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.component-29 {
  background:  #ffffff;
  padding: 14px 150px 14px 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-502 {
  display: flex;
  flex-direction: row;
  gap: 189px;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.search-glass {
  flex-shrink: 0;
  width: 357px;
  height: 357px;
  position: relative;
  top:30px;
  left:80px;
  overflow: hidden;
}

.search-glass img {
  height: 20rem;

}
.group {
  position: absolute;
  inset: 0;
}
.group2 {
  width: 39.5%;
  height: 31.27%;
  position: absolute;
  right: 49.07%;
  left: 11.43%;
  bottom: 17.81%;
  top: 50.92%;
  overflow: visible;
}
.group3 {
  width: 38.77%;
  height: 29.58%;
  position: absolute;
  right: 49.8%;
  left: 11.43%;
  bottom: 19.51%;
  top: 50.92%;
  overflow: visible;
}
.vector {
  width: 44.92%;
  height: 44.92%;
  position: absolute;
  right: 11.43%;
  left: 43.65%;
  bottom: 37.27%;
  top: 17.81%;
  overflow: visible;
}
.ellipse-1 {
  background: #dcf6fa;
  border-radius: 50%;
  opacity: 0.29;
  width: 41.46%;
  height: 41.18%;
  position: absolute;
  right: 12.89%;
  left: 45.66%;
  bottom: 39.22%;
  top: 19.61%;
}
.frame-501 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.use-our-search-bar-to-find-specific-neighborhoods-apply-filters-to-narrow-down-your-search-based-on-criteria-such-as-proximity-to-schools-public-transport-parks-and-more {
  color: #01073d;
  text-align: left;
  font-family:  "SpaceGrotesk-Medium", sans-serif;
  font-size: 23.040000915527344px;
  line-height:  32px;
  font-weight:  500;
  position: relative;
  width: 531px;
}
.component-30 {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 443px;
  position: relative;
  overflow: hidden;
}
.browse-through-our-list-of-neighborhoods-each-listing-provides-a-brief-overview-key-features-and-an-image-to-give-you-a-snapshot-of-the-area {
  color: #01073d;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size:  23.040000915527344px;
  line-height:  32px;
  font-weight:  500;
  position: absolute;
  left: 158px;
  top: 133px;
  width: 531px;
}
.frame-499 {
  width: 1440px;
  height: 453px;
  position: absolute;
  left: 0px;
  top: 389px;
  overflow: hidden;
}
.frame-498 {
  width: 1440px;
  height: 421px;
  position: absolute;
  left: 0px;
  top: 2px;
  overflow: hidden;
}
.overview {
  width: 384px;
  height: 367.66px;
  position: absolute;
  left: 936px;
  top: 26.49px;
  overflow: hidden;
}

.overview img {
  height: 30rem;
}

.floor {
  width: 100%;
  height: 60.3%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 39.7%;
  overflow: visible;
}

.shadows {
  width: 74.83%;
  height: 28.56%;
  position: absolute;
  right: 12.24%;
  left: 12.93%;
  bottom: 8.99%;
  top: 62.45%;
  overflow: visible;
}
.plant {
  height: auto;
  position: absolute;
  left: 41.56px;
  top: 216.22px;
  overflow: visible;
}
.gears {
  height: auto;
  position: absolute;
  left: 38.08px;
  top: 18.81px;
  overflow: visible;
}
.controls {
  height: auto;
  position: absolute;
  left: 224.57px;
  top: 0px;
  overflow: visible;
}
.device {
  height: auto;
  position: absolute;
  left: 83.57px;
  top: 3.25px;
  overflow: visible;
}
.screen {
  height: auto;
  position: absolute;
  left: 110.66px;
  top: 38.79px;
  overflow: visible;
}
.character {
  height: auto;
  position: absolute;
  left: 204.06px;
  top: 69.84px;
  overflow: visible;
}
.component-31 {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 443px;
  position: relative;
  overflow: hidden;
}
.click-on-any-neighborhood-to-access-detailed-information-learn-about-the-community-s-history-amenities-local-attractions-and-real-estate-options {
  color:  #01073d;
  text-align: left;
  font-family:  "SpaceGrotesk-Medium", sans-serif;
  font-size:  23.040000915527344px;
  line-height: 32px;
  font-weight:  500;
  position: absolute;
  left: 706px;
  top: 168px;
  width: 531px;
}
.browse-1 {
  width: 550.49px;
  height: 406px;
  position: absolute;
  left: 46px;
  top: -33px;
  overflow: hidden;
}

.browse-1 img {
  height:30rem;
}
.device2 {
  height: auto;
  position: absolute;
  left: 183.86px;
  top: 131.93px;
  overflow: visible;
}
.profile-3 {
  height: auto;
  position: absolute;
  left: 329.2px;
  top: 149.43px;
  overflow: visible;
}
.profile-2 {
  height: auto;
  position: absolute;
  left: 244.09px;
  top: 89.97px;
  overflow: visible;
}
.profile-1 {
  height: auto;
  position: absolute;
  left: 192.8px;
  top: 149.76px;
  overflow: visible;
}
.character2 {
  height: auto;
  position: absolute;
  left: 70.8px;
  top: 59.29px;
  overflow: visible;
}
.testimonial-container {
  background: #01073d;
  align-self:stretch;
  flex-shrink: 0;
  height: 114vh;
  width: 1200vw;
  right: 9.5rem;
  position: relative;
  overflow: hidden;
}
.frame-1011 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 990px;
  position: absolute;
  left: 390px;
  top: 220px;
}
.resident-testimonials {
  color:  #ffffff;
  text-align: center;
  font-family:  "SpaceGrotesk-Bold", sans-serif;
  font-size: 47.779998779296875px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.love-neighborhood{
  color:  #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size:  27.649999618530273px;
  line-height: 32px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.relocation-container {
  background: #ffffff;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 588px;
  height: 300px;
  position: absolute;
  left: 238px;
  top: 429px;
  overflow: hidden;
}
.relocation-content {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.image-37 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 222px;
  height: 260px;
  position: relative;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.frame-384 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.rashaad-oluwatobi {
  color: #000000;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size:  19.200000762939453px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame-391 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ic-baseline-star {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.ic-baseline-star2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.ic-baseline-star3 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.ic-baseline-star4 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.ic-baseline-star5 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.house-with-ease{
  color: #000000;
  text-align: left;
  font-family: "SpaceGrotesk-Regular",sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.relocation-content-1 {
  background: #ffffff;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 588px;
  position: absolute;
  left: 853px;
  top: 429px;
  height: 38vh;
  overflow: hidden;
}
.image-38 {
  border-radius: 8px;
  flex-shrink: 0;
  width: 222px;
  height: 260px;
  position: relative;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.jessica-ugochi {
  color: #000000;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 19.200000762939453px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  left:25rem;
  width: 17rem;
  bottom: 23rem;

}
.ic-baseline-star6 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.ic-baseline-star7 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.ic-baseline-star8 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.ic-baseline-star9 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.ic-baseline-star10 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.relocate-to-abuja  {
  color: #000000;
  text-align: left;
  font-family:"SpaceGrotesk-Regular",sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  align-self: stretch;
  left:25rem;
  width: 30rem;
  bottom: 8rem;
}
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  min-width: 132.9rem;
  left:8rem;
  top:3rem;
  position: relative;
}
.faq {
  color: #01073d;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 47.779998779296875px;
  line-height: 32px;
  font-weight:  700;
  position: relative;
  align-self: stretch;
}
.faq-content {
  align-self: stretch;
  flex-shrink: 0;
  height: 318px;
  position: relative;
}
.faq-item-1 {
  background:  #01073d;
  border-radius: 20px 20px 0px 0px;
  padding: 28px 24px 28px 24px;
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 33.33%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 66.67%;
  top: 0%;
}
.faq-item-1 img {
  height: 3rem;
}

.how-do-i-find-specific-neighborhoods-on-this-page {
  color: #e0e0e0;
  text-align: center;
  font-family: var(
    --regular-h4-font-family,
    "SpaceGrotesk-Regular",
    sans-serif
  );
  font-size:  27.649999618530273px;
  line-height: 32px;
  font-weight: 400;
  position: relative;
}
.faq-item-2 {
  background: #01073d;
  padding: 28px 24px 28px 24px;
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 33.33%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 33.33%;
  top: 33.33%;
}

.faq-item-2 img {
  height: 3rem;
}

.faq-item-3 {
  background: #01073d;
  border-radius: 0px 0px 20px 20px;
  padding: 28px 24px 28px 24px;
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 33.33%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 66.67%;
}

.faq-item-3 img {
  height: 3rem;
}
.image-55 {
  opacity: 0.5;
  width: 1440px;
  height: 807.6px;
  position: absolute;
  left: 0px;
  top: -21.3px;
  object-fit: cover;
}
.explore-popular-neighborhoods {
  color: #ffffff;
  text-align: left;
  font-family:"SpaceGrotesk-Bold", sans-serif;
  font-size:  47.779998779296875px;
  line-height:  32px;
  font-weight: 700;
  position: absolute;
  left: 356px;
  top: 312px;
}
.component-42 {
  background: #474444;
  width: 1440px;
  height: 776px;
  position: absolute;
  left: 2880px;
  top: 0px;
  overflow: hidden;
}
.image-77 {
  opacity: 0.5;
  width: 1838.1px;
  height: 965px;
  position: absolute;
  left: -112px;
  top: 0px;
  object-fit: cover;
}
.discover-the-unique-charm-amenities-and-lifestyle-each-community-has-to-offer {
  color: #ffffff;
  text-align: center;
  font-family:  "SpaceGrotesk-Medium", sans-serif;
  font-size:  39.810001373291016px;
  line-height:  32px;
  font-weight:  500;
  position: absolute;
  left: 125px;
  top: 351px;
  width: 1196px;
}
.component-41 {
  background: #474444;
  width: 1440px;
  height: 776px;
  position: absolute;
  left: 1440px;
  top: 0px;
  overflow: hidden;
}
.image-76 {
  opacity: 0.5;
  width: 1543.88px;
  height: 1029px;
  position: absolute;
  left: -51px;
  top: -87px;
  object-fit: cover;
}
